.dd-list {
    display: none;
    position: fixed;
    right: 5px;
    z-index: 9999999;
    width: 100px;
    height: 60px;
    background: #eeeeee;
    border-radius: 0 0 5px 5px;
    margin-top: -1px;
}

.dd-list li{
    margin-left: -20px;
}
.dd-header:focus .dd-list {
    display: block;   
}

.dd-wrapper
{
    background: rgb(204,204,204);
    background: linear-gradient(0deg, #f0f0f0 0%, #fff 100%);
}

.dd-header {
    margin: 3px 8px 0 auto;
    text-align: right;
    width:200px
}

ul, li {
    list-style: none;
    padding: 0 0.3em 0 0!important;
}

:focus {
    outline: none;
}