.leaflet-container{
    height: 95vh;
    width: 100%;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}  

.menu-container {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: transparent;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 30px!important;
    margin-right: 20px!important;
}

.menu-container a {
    text-decoration-style: none;
}

